#upper{
    height: 900px;
    background-image: url('https://media.discordapp.net/attachments/1034900261442965665/1221550571694329986/Screenshot_2024-02-03_144055.png?ex=6612fc9f&is=6600879f&hm=e8aea8e9944ad5d637356a76f47266d414104e81dae21dafe3245593239d069a&=&format=webp&quality=lossless&width=181&height=177'); 
    background-size: cover; 
    background-position: center; 
}